@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-secondary;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-dark;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent-light;
}

